
@{
    ViewBag.Title = "File Upload";
    ViewData["Title"] = "File Upload";
}

<h2>FileUpload</h2>

<form id="form1" enctype="multipart/form-data" action="../Home/Upload" method="post">
    <input type="file" id="myFile" name="myFile" /> <br />
    <input type="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHfNSX7YyLf4h1XAMiFADq4jJt8c9orN9zvvbb-IQp_aF3maXV-A" alt="launch" height="40" width="40" />
</form>