
@{
    ViewBag.Title = "Grade";
    int numStudent = 5;
    int gradeOutOf = 20;
    List<string> names = new List<string>();
    names.Add("A");
    names.Add("B");
    names.Add("C");
    names.Add("D");
    names.Add("E");
    Dictionary<string, string> namesAnswer = new Dictionary<string, string>();
    namesAnswer.Add(names[0], "Alpha");
    namesAnswer.Add(names[1], "Bravo");
    namesAnswer.Add(names[2], "Charlie");
    namesAnswer.Add(names[3], "Delta");
    namesAnswer.Add(names[4], "Epsilon");
    Dictionary<string, int> namesGrade = new Dictionary<string, int>();
}

<head>
    <link rel="stylesheet" type = "text/css" href="StyleSheet1.css" />
    <script type="text/javascript">
        
    </script>
    <style>
        /* Style The Dropdown Button */
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>

</head>

<body>
    <div style="display: flex; border-bottom:1px solid black">
        <div style="float:left; width:90%">
            <h3 style="color: #21314d"> Question Name </h3>
        </div>
        <!--Navigation Bar-->
        <div style="float:left; width:10%">
            <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <div>
        <!--- left column--->
        <div style="float:left; width: 75%">
            <!--- question box --->
            <div>
                <p> Question </p>
            </div>
            <!--- answer box --->
            <ul style=" list-style-type: none; padding: 0;">
                @for (int x = 0; x < numStudent; x++)
                {
                <li>
                    <div style="display:flex">
                        <div style="float:left; width:15%">
                            <p> @names[x]  </p>
                        </div>
                        <div style="float:left; width:50%;  border:1px solid black; border-radius:5px">
                            <p>@namesAnswer[names[x]]</p>
                        </div>
                        <div style="float:left; width:35%; ">
                            <p style="text-align:center">Grade : <input type="number" style="height:20px; width:100px; border:1px solid black;overflow:visible " name="grade" /> / @gradeOutOf</p>
                        </div>
                    </div>
                </li>
                <p></p>
                }
            </ul>

        </div>
        <!--- right column--->
        <div style="float:left; width: 25%;">
            <!--- top row--->
            <div style="display: flex"> 
                <div style="float:left; width:33%; border-right:2px solid black;">
                    <form> <p style="color: blue; font-size:70%">Highlight Keyword</p></form>
                </div>
                <div style="float:left; width:33%; border-right:2px solid black;">
                    <form><p style="color: blue;font-size:70%"> Jump to...</p></form>
                </div>
                <div style="float:left; width:33%; ">
                    <form><p style="color: blue; font-size:70%"> Autograde and Filter</p></form>
                </div>
            </div>
            <!--- Rubic--->
            <div>
                <p> RUBIC WOULD BE HERE </p>
            </div>
            <!--- next row--->
            <div style="display: flex">
                <div style="float:left; width:33%; border:1px solid black;background-color: #D3D3D3;">
                    <form><p style="text-align:center">Revert</p> </form>
                </div>
                <div style="float:left; width:33%; border:1px solid black; background-color: #D3D3D3">
                    <form><p style="text-align:center"> Save</p> </form>
                </div>
                <div style="float:left; width:33%; background-color: #D3D3D3; border:1px solid black">
                    <form><p style="text-align:center"> Save and Next</p></form>
                </div>
            </div>
            <p></p>
            <!--- Comment Box--->
            <div>
                <textarea style="height:100px; width:100%; border:1px solid black; border-radius:5px" name="comment"></textarea>
            </div>
            <!--- Grade Box-->
            <div style="height:10%">
                <p>Grade : <input type="number" style="height:20px; width:100px; border:1px solid black;overflow:visible " name="grade" /> /@gradeOutOf</p >
                </div >
            </div >
        </div >
</body >





