
@{
    ViewBag.Title = "Grade";
}

<body>
    <div style="display: flex; border-bottom:1px solid black">
        <div style="float:left; width:30%">
            <h3 style="color: #21314d"> Question Name </h3>
        </div>
        <div style="float:left; width:70%">
            <p>NAVIGATION WOULD BE HERE</p>
        </div>
        
    </div>
    <p></p>
    <div>
        <!--- left column--->
        <div style="float:left; width: 75%">
            <!--- question box --->
            <div>
                <p> Question </p>
            </div>
            <!--- answer box --->
            <div>
                <div style="float:left; width:20%">
                    <p>Picture</p>
                </div>
                <div style="float:left; width:60%;  border:1px solid black; border-radius:5px">
                    <p> Answer</p>
                </div>
                <div style="float:left; width:20%; ">
                    <p> Grade : <input type="text" style="height:20px; width:20px; border:1px solid black; " name="grade" /> / 20 </p>
                    
                </div>
            </div>

        </div>
        <!--- right column--->
        <div style="float:left; width: 25%;">
            <!--- top row--->
            <div style="display: flex"> 
                <div style="float:left; width:33%; border:1px solid black;">
                    <p style="color: blue">Highlight Keyword</p>
                </div>
                <div style="float:left; width:33%; border:1px solid black;">
                    <p style="color: blue"> Jump to...</p>
                </div>
                <div style="float:left; width:33%; border:1px solid black;">
                    <p style="color: blue"> Autograde and Filter</p>
                </div>
            </div>
            <!--- Rubic--->
            <div>
                <p> RUBIC WOULD BE HERE </p>
            </div>
            <!--- next row--->
            <div style="display: flex">
                <div style="float:left; width:33%; border:1px solid black;background-color: #D3D3D3;">
                    <p style="text-align:center">Revert</p>
                </div>
                <div style="float:left; width:33%; border:1px solid black; background-color: #D3D3D3">
                    <p style="text-align:center"> Save</p>
                </div>
                <div style="float:left; width:33%; background-color: #D3D3D3; border:1px solid black">
                    <p style="text-align:center"> Save and Next</p>
                </div>
            </div>
            <p></p>
            <!--- Comment Box--->
            <div>
                <input type="text" style="height:100px; width:100%; border:1px solid black; border-radius:5px" name="comment"/>
            </div>
            <!--- Grade Box-->
            <div style="height:10%">
                <p> Grade : <input type="text" style="height:20px; width:20px; border:1px solid black; " name="grade" /> / 20 </p>
            </div>
        </div>
    </div>
</body>





