
@{
    ViewBag.Title = "Help";
}
<style>
    h3{
        color: #21314d
    }
</style>
<div>
    <h3>Home Page</h3>
    <p> </p>
</div>
<div>
    <h3>Rubic Page</h3>
    <p> Adding a rubic to your quiz can allow for grading to be made easier and comments to autogenerate.This is done in the rubric page. The number of questions needs to be the number in the quiz. There are caps of 100 questions, 11 criteria and 9 options per criteria. As you fill in the selections, the rubric autopopulates. +Rubric button would add a rubric and you can selsect the dimensions of the rubric and fill them in.</p>

</div>
<div>
    <h3>Grade Page</h3>

</div>



