
@{
    ViewBag.Title = "Help";
}
<style>
    h3{
        color: #21314d
    }
</style>
<div>
    <h3>Home Page</h3>
    <p> </p>
</div>
<div>
    <h3>Rubic Page</h3>
    <h5>Limitations of the Rubric Page</h5>
    <p> Rubrics have to match the number of questions in the quiz even if there are multiple choice questions. There is a cap of 100 questions. Each rubric can have up to 10 criteria and 9 options per criteria. If you add a rubric to a question, you are unable to remove it. </p>
    <h5>How to use</h5>
    <p>The page autogenerates depending on input. The number of questions will generate to the number of inputed questions. In addition the rubric is adjustable with dimensions and size. </p>

</div>
<div>
    <h3>Grade Page</h3>

</div>



