@model SupaSpeedGrader.Models.helpModel

@{
    ViewBag.Title = "Help";
    ViewData["state"] = Model.state;
}

<style>
    h3{
        @* This color is Canvas Blue*@
        color: #21314d;
    }
</style>

<div>
    <h3>Home Page</h3>
    <p> The home page allows selection of a quiz, the sections grading, the question to start grading, and the rubric to use to assist in grading. This page also includes the launch button to create a new Rubric </p>
</div>
<div>
    <h3>Rubric Page</h3>
    <h5>Limitations of the Rubric Page</h5>
    <p> Rubric names cannot contain spaces. Rubrics have to match the number of questions in the quiz even if there are multiple choice questions. Rubric comments cannot include special characters. There is a cap of 100 questions. Each rubric can have up to 10 criteria and 9 options per criteria, but all rubrics must be the same size and must exist for all questions. If you add a rubric to a question, you are unable to remove it. If you add a rubric, you are unable to remove it </p>
    <h5>How to use</h5>
    <p> Choose a name, then select the number of questions in your quiz. Select the number of criteria and options per criteria, then fill out each box with the desired information. Repeat for every question. </p>

</div>
<div>
    <h3>Grade Page</h3>
    <h5> The Answer Bar</h5>
    <p>The Answer Bar contains the student's answers and their ID. This also shows their current grade. </p>
    <h5> The Grading Bar</h5>
    <ul>
        <li> Highlight Key Words: Allows the user to highlight key phrases in responses</li>
        <li> Jump to: Jumps to a specified student</li>
        <li> Rubric: This either contains the selected rubric that will autopopulates grades and comments based on selection, or a placeholder text stating a rubric was not parsed in. NOTE: You must start with a score of 0, otherwise the existing score will simply be added to their final score</li>
        <li> Revert button: Clears the rubric and comments as well as grade </li>
        <li> Save button: Saves grade and comment changes </li>
        <li> Save&Next button: Save comments and grade and move to the next response </li>
        <li> Clear button: The clear button clears the comment box. </li>
    </ul>
</div>



