
@{
    ViewBag.Title = "Help";
}
<style>
    h3{
        @* This color is Canvas Blue*@
        color: #21314d;
    }
</style>
<div>
    <h3>Home Page</h3>
    <p> The home page allows you to select a quiz, the sectionns grading and the start question. A rubric could also be added here. </p>
</div>
<div>
    <h3>Rubric Page</h3>
    <h5>Limitations of the Rubric Page</h5>
    <p> Rubrics have to match the number of questions in the quiz even if there are multiple choice questions. There is a cap of 100 questions. Each rubric can have up to 10 criteria and 9 options per criteria. If you add a rubric to a question, you are unable to remove it. </p>
    <h5>How to use</h5>
    <p>The page autogenerates depending on input. The number of questions will generate to the number of inputed questions. In addition the rubric is adjustable with dimensions and size. </p>

</div>
<div>
    <h3>Grade Page</h3>
    <h5> The Answer Bar</h5>
    <p>The Answer Bar contains the Question and the student's answers. The first column in the answer bar is the student's name with their answer and a grade area as well.</p>
    <h5> The Grading Bar</h5>
        <ul>
        <li> Highlight Key Words: Allows tohe user to highlight key phrases in responses</li>
        <li> Jump to: Jumps to a specified student</li>
        <li>Rubric: This contains a clickable rubric that autopopulates grades and comments. </li>
        <li>
            Revert button: Clears the rubric and comments as well as grade
        </li>
        <li> Save button: Saves grade and comment changes </li>
        <li> Save&Next, Save comments and grade and move to the next response </li>
        <li> Clear Button. The clear button clears the comment box. </li>
    </ul>
</div>



