
@{
    ViewBag.Title = "Help";
}
<style>
    h3{
        color: #21314d
    }
</style>
<div>
    <h3>Rubic</h3>
    <p> Adding a rubic to your quiz can allow for grading to be made easier and comments to autogenerate. However, the rubic would need a specific format to be interactable. </p>

</div>
<div>
    <h3> Selecting Section</h3>
    <p> When selecting a section, just click the checkbox next to the section. </p>
</div>
<div>
    <h3> Selecting Quiz</h3>
    <p> When selectig a quiz, pick a quiz at a time to grade. It will autopopulate the questions at the bottom with what questions occur in the quiz.</p>
</div>
<div>
    <h3> Selecting Questions</h3>
    <p> When selecting a question, the questions auto order. The order goes: In Progress, Unstarted, and Complete. This means that the first question will not be the first in the list if it is not in progress or none of the questions have been started. </p>
</div>
<div>
    <h3> Adjusting Grades</h3>
    <p> Adjusting grades can occur in the box next to the answer. </p>
    <p> In addition grades can be adjusted in the right hand column. The right hand column also contains boxes for comments and the rubic if you added one.  </p>
</div>
<div>
    <h3> Adjusting Preferences</h3>
</div>



