@{
    ViewData["Title"] = "Movie List";
}

<body>
    <p></p>
    <div>
        <div style="float:left; width: 50%">
            <div>
                <h2>Section</h2>

                <form>
                    <input checked="checked" type="checkbox" id="allsections" name="section" value="all">
                    <label for="allsections">Select All(add functionality later)</label>
                </form>
                <form>
                    <input type="checkbox" id="section1" name="section" value="all">
                    <label for="section2">A</label>
                </form>

                <form>
                    <input type="checkbox" id="section2" name="section" value="all">
                    <label for="section1">B</label>
                </form>
            </div>
            <div>
                <h2>Quiz</h2>
                <form>
                    <select>
                        <option selected="selected" value="1">Quiz Dropdown</option>
                        <option value="2">No</option>
                    </select>
                </form>
            </div>
            <div>
                <h2>Question</h2>
                <form>
                    <select>
                        <option selected="selected" value="1">Question Dropdown</option>
                        <option value="2">No</option>
                    </select>
                </form>
            </div>
            <p></p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHfNSX7YyLf4h1XAMiFADq4jJt8c9orN9zvvbb-IQp_aF3maXV-A" alt="launch" height="40" width="40">
        </div>
        <div style="float:left; width: 50%">
            <h2>Sort By</h2>
            <form>
                <input checked="checked" name="filter" type="radio" value="Section" /> Section <br />
                <input name="filter" type="radio" value="Groups" /> Groups <br />
                <input name="filter" type="radio" value="Students" /> Students <br />
            </form>
            <p></p>
        </div>
    </div>
</body>
