@model SupaSpeedGrader.Models.NavigationModel

@{
    ViewData["Title"] = "Not a Movie List";
}

<body>
    <p></p>
    <div>
        <div style="float:left; width: 50%">
            <div>
                <h2>Section</h2>



                <form>
                    <script language="JavaScript">
                        function toggle(source) {
                            checkboxes = document.getElementsByName('foo');
                            for (var i = 0, n = checkboxes.length; i < n; i++) {
                                checkboxes[i].checked = source.checked;
                            }
                        }
                    </script>
                    <input checked="checked" onClick="toggle(this)" type="checkbox" id="allsections" name="section" value="all">
                    <label for="allsections">Select All</label>

                    @{ for (int i = 0; i < Model.sections.Count; i++)
                        {
                         <br />
                            <input type="checkbox" checked="checked" id="section" name="foo" value=@Model.sections[i]>
                            <label for="section">@Model.sections[i]</label>
                        }
                    }
                </form>
            </div>
            <div>
                <h2>Quiz</h2>
                <form>
                    <select id="quiz" onchange="quizFunction()">
                                <option value="" selected="selected"></option>
                        @{
                            for (int i = 0; i < Model.quizzes.Count; i++)
                            {
                                <option value=@Model.quizzes[i]>@Model.quizzes[i]</option>
                            }
                        }
                    </select>
                    <p id="demo"></p>
                </form>
            </div>
            <div>
                <h2>Question</h2>
                <form>
                    <select>
                        @TODO: parse selected quiz name and use to fill questions
                        @{
                            for (int i = 0; i < Model.quizdata[SELECTEDQUIZNAME].Count; i++)
                            {
                                <option value=@Model.quizdata[SELECTEDQUIZNAME][i]>@Model.quizdata[SELECTEDQUIZNAME][i]</option>
                            }
                        }
                    </select>
                </form>
            </div>
            <p></p>
            <form action="../Home/Grade"> <input type="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHfNSX7YyLf4h1XAMiFADq4jJt8c9orN9zvvbb-IQp_aF3maXV-A" alt="launch" height="40" width="40" /> </form>
        </div>
        <div style="float:left; width: 50%">
            <h2>Sort By</h2>
            <form>
                <input checked="checked" name="filter" type="radio" value="Section" /> Section <br />
                <input name="filter" type="radio" value="Groups" /> Groups <br />
                <input name="filter" type="radio" value="Students" /> Students <br />
            </form>
            <p></p>
        </div>
    </div>
    <script>
        function quizFunction() {
            var x = document.getElementById("quiz").value;
            if (x != "") {
                document.getElementById("demo").innerHTML = "You selected: " + x;
            }
        }
    </script>

</body>
