@{
    ViewData["Title"] = "Movie List";
}


<h2>Sort By: </h2>
<form>
    <input checked="checked" name="filter" type="radio" value="Section" /> Section <br />
    <input name="filter" type="radio" value="Groups" /> Groups <br />
    <input name="filter" type="radio" value="Students" /> Students <br />
</form>


<h2>Section</h2>
<form>
    <select>
        <option selected="selected" value="1">Section Dropdown</option>
        <option value="2">No</option>
    </select>
</form>
<h2>Quiz</h2>
<form>
    <select>
        <option selected="selected" value="1">Quiz Dropdown</option>
        <option value="2">No</option>
    </select>
</form>

<h2>Question</h2>
<form>
    <select>
        <option selected="selected" value="1">Question Dropdown</option>
        <option value="2">No</option>
    </select>
</form>

